body {
    background-color: #000000;
    color: #ffffff;
    font-family: "perfect_dos_vga_437regular";
    font-size: 1.5em;
    width: auto;
}

a {
    text-decoration: none;
    border-bottom: 2px solid #848400;
    color: #918e8e;
}

.center {
    display: block;
    margin: 0 auto;
}

.row {
    margin: 0;
    padding-top: 0.25em;
}

iframe {
    width: 100%;
}

.title {
    color: #C7C520;
    text-align: center;
}

.header {
    width: 100%;
    max-width: 20em;
}

.survey {
    background: #000000;
    border-radius: 0;
    border-width: 0.25em;
    border-color: #C7C520;
    border-style: dashed;
    font-size: 1.5em;
    color: #ffffff;
}
