.pc-only {
    display: none;
}

.mobile-only {
    display: block;
}

.content {
    text-align: justify;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

@media only screen and (min-width: 768px) {
    .content {
        text-align: justify;
        padding-left: 2em;
        padding-right: 2em;
    }

    .pc-only {
        display: block;
    }

    .mobile-only {
        display: none;
    }
}
